// Primary Colors
$primaryDarkest: #002550;
$primaryDarker: #025a9a;
$primary: #00aeff;
$primaryLighter: #61cdff;

// Secondary Colors
$secondaryDarker: #e68a00;
$secondary: #ffa800;
$secondaryLighter: #ffb118;

// Neutral Colors
$neutral100: #020203;
$neutral200: #0b0d12;
$neutral300: #15171b;
$neutral400: #1f2025;
$neutral500: #26272e;
$neutral600: #2d2f38;
$neutral700: #363842;
$neutral800: #8f9199;

$white: #ffffff;
$textAlt: #9d9d9d;
