// Primary Colors
$primaryDarkest: #002550;
$primaryDarker: #025A9A;
$primary: #00AEFF;
$primaryLighter: #61CDFF;

// Secondary Colors
$secondaryDarker: #E68A00;
$secondary: #FFA800;
$secondaryLighter:#FFB118;

// Neutral Colors
$neutral100: #020203;
$neutral200: #0B0D12;
$neutral300: #15171B;
$neutral400: #1F2025;
$neutral500: #26272E;
$neutral600: #2D2F38;
$neutral700: #363842;


$white:#ffffff;