@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin flex($dir:row, $wrap: no-wrap) {
	display: flex;

	@if $dir !=row {
		flex-direction: $dir;
	}

	@if $wrap !=no-wrap {
		flex-wrap: $wrap;
	}
}

@mixin flexAlignment($align:flex-start, $justify:flex-start) {
	align-items: $align;
	justify-content: $justify;
}

@mixin mx($margin) {
	margin-left: $margin;
	margin-right: $margin;
}

@mixin my($margin) {
	margin-top: $margin;
	margin-bottom: $margin;
}

@mixin px($padding) {
	padding-left: $padding;
	padding-right: $padding;
}

@mixin py($padding) {
	padding-top: $padding;
	padding-bottom: $padding;
}