.btn {
  display: inline-flex;
  @include flexAlignment(center);
  gap: .5rem;

  @include px(1rem);
  @include py(.625rem);
  border: .0625rem solid transparent;
  border-radius: .25rem;

  color: $white;

  font-size: .875rem;
  font-weight: 500;

  transition: color .3s, background-color .3s;

  &-primary {
    border-color: $primary;

    background-color: $primary;

    &:hover {
      background-color: $primaryLighter;
    }
  }


  &-outline {
    border-color: $white;

    &:hover {
      color: $neutral200;
      background-color: $white;
    }
  }
}

.game-card {
  width: 100%;
  max-width: 17.5rem;

  display: inline-block;

  @media screen and (max-width: 991px) {
    max-width: unset;
  }

  @media screen and (max-width: 480px) {
    position: relative;
  }

  .image {
    width: 100%;
    //max-width: 17.5rem;
    height: 25rem;

    margin-bottom: 1.5rem;
    border-radius: .25rem;

    overflow: hidden;

    @media screen and (max-width: 480px) {
      height: 13.3125rem;

      margin-bottom: 0;
    }

    img {
      height: 100%;
      width: 100%;

      object-fit: cover;

      transition: transform .2s ease-in;
    }
  }

  .info {
    h3 {
      margin-bottom: .25rem;

      font-size: 1.1875rem;
      line-height: 1.8125rem;
      font-weight: 600;

      color: $white;
    }

    span {
      font-size: .875rem;
      line-height: 1.3125rem;

      color: darken($neutral800, 15%);
      text-transform: uppercase;
    }

    @media screen and (max-width: 480px) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      height: 100%;

      display: none;

      @include flexAlignment(flex-start, flex-end);

      padding: 1.25rem;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 25%, rgba(0, 0, 0, 0.90) 75%);

      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }

    .info {
      @include flex(column);
    }
  }
}