.games {
	@include py(5.3125rem);

	.top-content {
		@include flex();
		@include flexAlignment(flex-end, space-between);
		gap: 9.9375rem;

		margin-bottom: 5.3125rem;

		div:nth-of-type(1) {
			@include flex();
			@include flexAlignment(flex-start, space-between);

			max-width: 24.375rem;
			width: 100%;

			h2 {
				width: 100%;
				max-width: 10.9375rem;

				font-weight: 700;
				font-size: 2rem;
				line-height: 110.2%;
			}

			span {
				margin-top: 0.6875rem;

				font-size: 0.9375rem;
				font-weight: 600;
				text-transform: uppercase;

				color: $neutral800;
			}
		}

		div:nth-of-type(2) {
			flex: 1 1 auto;
			@include flex();
			@include flexAlignment(flex-end, space-between);

			ul {
				@include flex();
				@include flexAlignment(center);
				gap: 1.5rem;

				li {
					margin-left: 0;

					a {
						img {
							opacity: 0.5;

							transition: opacity 0.3s ease;
						}

						&.active {
							img {
								opacity: 1;
							}
						}
					}
				}
			}

			.filter-btn {
				@include flex();
				@include flexAlignment(center);
				gap: 0.625rem;

				font-size: 1rem;
				line-height: 1.5rem;
				color: $primary;
			}
		}
	}

	.tabs {
		.tab {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 2rem;

			animation: fadeUp 0.4s forwards;

			&:not(.active) {
				display: none;
			}

			@media screen and (max-width: 768px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}

	.card-all-games {
		width: 100%;
		max-width: 17.5rem;
		height: 25rem;

		@include flex(column);
		@include flexAlignment(center, center);
		gap: 2.1875rem;

		border: 0.0625rem solid #212428;
		border-radius: 0.25rem;

		transition: border-color 0.3s ease-in, color 0.3s ease-in;

		span {
			@include flex();
			@include flexAlignment(center);
			gap: 0.625rem;

			font-size: 1rem;
			line-height: 1.5rem;
		}

		&:hover {
			border-color: $primary;

			span {
				color: $primary;
			}
		}
	}
}

@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(2.5rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
