.hero-slider {
  position: relative;
  z-index: 2;

  .slider {
    height: 46.875rem;

    .swiper-pagination {
      all: unset;
      position: absolute;
      top: 15.0625rem;
      left: 2%;

      max-height: 20rem;

      @include flex(column);
      @include flexAlignment(center);
      gap: 1.25rem;

      z-index: 2;


      &-bullet {
        @include size(3rem);

        background-color: transparent;

        img {
          width: 100%;
          height: 100%;
        }

        &:not(&-active) {
          filter: grayscale(1);
          opacity: 0.5;
          transition: filter, opacity 0.3s ease-in-out;

          &:hover {
            filter: grayscale(0);
            opacity: 1;
          }
        }

      }

      @media (max-width: 1200px) {
        left: 1%;
      }

      @media (min-width: 1200px) and (max-width: 1920px) {
        left: 12%;
      }

      @media (min-width: 1921px) {
        left: 28%;
      }

      @media screen and (max-width: 991px) {
        left: 0.9375rem;
        top: initial;
        bottom: 1rem;

        @include flex();
      }

      @media screen and (max-width: 480px) {
        gap: 1rem;
      }
    }

    .swiper-wrapper {
      .swiper-slide {
        @include flex();
        @include flexAlignment(center, center);

        //padding-top: 12.9375rem;

        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;

        &.slide {
          &-diablo {
            background-image: url('/img/games/slider/backgrounds/diablo-iv.jpg');

            @media screen and (max-width: 991px) {
              background-position: center;
            }
          }

          &-hearthstone {
            background-image: url('/img/games/slider/backgrounds/hearthstone.jpg');
          }

          &-world-of-warcraft {
            background-image: url('/img/games/slider/backgrounds/world-of-warcraft-shadowlands.jpg');
          }

          &-world-of-warcraft, &-hearthstone {
            @media screen and (max-width: 991px) {
              background-position-x: 63%;
            }
          }
        }

        .container {
          @include flex();
          @include flexAlignment(flex-start, space-between);

          .content {
            width: 100%;
            max-width: 35.125rem;

            margin-left: calc(10.875rem + 0.9375rem);

            h2 {
              margin-bottom: 1rem;

              font-weight: 700;
              font-size: 4rem;
              line-height: 110%;

              @media screen and (max-width: 991px) {
                font-size: 3.5rem;
              }

              @media screen and (max-width: 480px) {
                font-size: 2.5rem;
              }
            }

            p {
              margin-bottom: 2rem;

              font-weight: 400;
              font-size: 1.125rem;
              line-height: 1.6875rem;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .btn.btn-primary {
              @include px(2rem);
              @include py(.875rem);
            }

            @media screen and (max-width: 1200px) {
              margin-left: 8rem;
            }

            @media screen and (max-width: 991px) {
              max-width: unset;

              margin-left: 0;
            }

          }

          .video-content {
            flex: 0 1 17.5rem;

            @include flex(column);
            @include flexAlignment(flex-start, space-between);

            margin-top: -2.125rem;

            text-align: right;

            .logo {
              width: 17.5rem;

              img {
                width: 100%;
                height: auto;

                object-fit: cover;
              }
            }

            .video {
              @include flex(column);
              @include flexAlignment(flex-end);
              gap: 1rem;

              margin-top: 7rem;

              span {
                display: block;

                font-weight: 600;
                font-size: .8125rem;
                line-height: 1.25rem;
                text-transform: uppercase;
                text-align: right;
              }

              .btn-video {
                position: relative;

                width: 17.5rem;
                height: 10.8125rem;

                @include flex();
                @include flexAlignment(center, center);

                border-radius: .25rem;

                overflow: hidden;

                .thumb {
                  width: 100%;
                  height: 100%;

                  position: absolute;
                  top: 0;
                  left: 0;

                  object-fit: cover;
                  object-position: center;

                  transition: opacity .3s ease;

                  &.default {
                    opacity: 1;
                  }

                  &.hover {
                    opacity: 0;
                  }
                }

                & > i {
                  padding: 1rem;

                  border-radius: 100%;

                  color: $primary;
                  background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86) 19.22%, rgba(15, 16, 22, 0.5) 76.59%);

                  font-size: 2rem;
                  z-index: 2;
                }

                &:hover {
                  & > .thumb {
                    &.default {
                      opacity: 0;
                    }

                    &.hover {
                      opacity: 1;
                    }
                  }

                  & > i {
                    display: none;
                  }
                }

                @media screen and (max-width: 991px) {
                  width: 17.5rem;
                  height: 10.8125rem;
                }
              }

              @media screen and (max-width: 991px) {
                margin-top: 0;
              }
            }

            @media screen and (max-width: 991px) {
              gap: 4rem;

              margin-top: 0;
            }

            @media screen and (max-width: 480px) {
              display: none;
            }
          }

          @media screen and (max-width: 991px) {
            align-items: center;
            gap: 1.25rem;
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      height: 46rem;

      overflow: hidden;
    }
    @media screen and (max-width: 480px) {
      height: 38.875rem;
    }
  }
}